[Unit]
Description=IRSOL Prefect Server
After=network.target

[Service]
Type=simple
User=${user}
WorkingDirectory=${working_directory}
ExecStart=${idp_executable_path} prefect start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
