[Unit]
Description=IRSOL ${flow_group_description}
After=irsol-prefect-server.service
Requires=irsol-prefect-server.service

[Service]
Type=simple
User=${user}
ExecStart=${idp_executable_path} prefect flows serve ${flow_group_name}
Environment=PREFECT_ENABLED=1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
